<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="standard">
		<route frontName="ipsinternationnal_ovri" id="ipsinternationnal_ovri">
			<module name="Ipsinternationnal_Ovri" />
		</route>
	</router>
</config>